<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
  <add name="MyDatabaseConnectionString" connectionString="Data Source=;Initial Catalog=worldweaver;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="WorldWeaver.Properties.Settings.worldweaverConnectionString"
   connectionString="Data Source=DESKTOP-CD77NKS\SQLEXPRESS;Initial Catalog=worldweaver;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>
